datasources:
  - name: Prometheus
    access: proxy
    type: prometheus
    url : http://localhost:9090
    isDefault: true
  - name: MySQL
    access: proxy
    type: mysql
    url: localhost:3306
    database: test
    user: grafanareader
    jsonData:
      maxOpenConns: 0
      maxIdleConns: 2
      connMaxLifetime: 14400
    secureJsonData:
      password: ${GRAFANA_MYSQL_PASSWORD}
